<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui.min.css" />
    <style type="text/css">
        body { background-color: white; }
    </style>
</head>
<body>
<div id="swagger-ui"></div>
<script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui-bundle.min.js"></script>
<script>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: '{{ openapi_url }}',
            dom_id: '#swagger-ui',
        });
    };
</script>
</body>
</html>
